<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Configuracion de SAP Login -->
		<add key="SAP_System" value=".YNCA - EQ2 - ERP QA2" />
		<add key="SAP_Client" value="" />
		<add key="SAP_User" value="90022817" />
		<add key="SAP_Password" value="Yazaki202512345" />
		<add key="SAP_Language" value="ES" />
		<add key="SAP_GuiPath" value="" />
		<add key="SAP_TimeoutSeconds" value="45" />
		<add key="SAP_SkipLogin" value="false" />

		<!-- Otras configuraciones -->
		<add key="Greeting" value="Hola" />
	</appSettings>
</configuration>
